<!DOCTYPE html>
<html>
	<head>
		<title>Search Parkings</title>
		{% load static %}
		<meta name="viewport" content="initial-scale=1.0">
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
		<link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static "bootstrap-datetimepicker/css/bootstrap-datetimepicker.css"%}">
		<style>
		/* Always set the map height explicitly to define the size of the div
		* element that contains the map. */
		#map {
		height: 100%;
		}
		/* Optional: Makes the sample page fill the window. */
		html, body {
		height: 100%;
		margin: 0;
		padding: 0;
		}
		.map-box{
			position: relative;
			top:50px;
			height: 70%;
		}
		.search-box{
			position: relative;
			top:30px;
		}
		.search-results{
			position: relative;
			top:50px;
			height: 80%;
			display: none;
		}
		</style>
	</head>
	<body>
		<div class="container search-box">
			<div class="row" style="text-align: center;">
				<b>Select your preferences for parking spot:</b>
			</div>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label>Destination</label>
							<input id="autocomplete" type="text" class="form-control" placeholder="Enter your destination">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label for="">Start time</label>
							<div class="input-group date form_starttime" data-link-field="dtp_input1">
								<input class="form-control" size="16" type="text" value="" readonly id="start-time">
								<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
								<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
							</div>
							<input type="hidden" id="dtp_input1" value="" /><br/>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label for="">End time</label>
							<div class="input-group date form_endtime" data-link-field="dtp_input1">
								<input class="form-control" size="16" type="text" value="" readonly id="end-time">
								<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
								<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
							</div>
							<input type="hidden" id="dtp_input1" value="" /><br/>
						</div>
					</div>
					<div class="col-md-2">
						<label for=""><br></label>
						<button class="btn btn-primary mb-2" style="width: 100%" id="search">Get parking</button>
					</div>
				</div>
				<div class="alert alert-success" id="success" role="alert" style="text-align: center;display: none;">
  					Your parking spot is successfully reserved!
				</div>
		</div>
		<div class="container map-box">
			<div id="map"></div>
		</div>
		<div class="search-results container">
			<div class="slots-table">
				<div style="text-align: center;">
				<img src="{% static "Pacman.gif" %}" alt="Loading..">
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
				</div>
				<div class="col-md-4">
					<button class="btn btn-primary mb-2" style="width: 100%" id="ex-map">Explore on map</button>
				</div>
			</div>
		</div>
		
	</body>
	<script type="text/javascript" src="{% static "jquery/jquery-1.8.3.min.js" %}" charset="UTF-8"></script>
	<script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
	<script src="{% static "bootstrap-datetimepicker/js/bootstrap-datetimepicker.js" %}"></script>
	<script type="text/javascript" src="{% static "bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.fr.js" %}" charset="UTF-8"></script>
	<script>
	var map, infoWindow;
	var origin_marker = false;
	var marker2 = false;
	// Getting data of parkings locations from backend
	var markers = [];
	{% for location in locations %}
			var address = "{{location.address|safe}}";
			var lat = "{{location.lat|safe}}";
			var lon = "{{location.lon|safe}}";
			markers.push({title: address, pos:{lat: parseFloat(lat), lng: parseFloat(lon)}});
	{% endfor %}
	


	function initMap() {
		map = new google.maps.Map(document.getElementById('map'), {
			center: {lat: 12.903941, lng: 77.59909},
			zoom: 16
	});
	// Setting device location
	infoWindow = new google.maps.InfoWindow;
	if (navigator.geolocation) { // Try HTML5 geolocation.
		navigator.geolocation.getCurrentPosition(function(position) {
	var pos = {
		lat: position.coords.latitude,
		lng: position.coords.longitude
	};
	origin_marker = new google.maps.Marker({
		position: pos,
		map: map,
		title: "Vehicle location",
		draggable: true,
		icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png'
	});
	map.setCenter(pos);
	}, function() {
		origin_marker = new google.maps.Marker({
		position: {lat:12.903941, lng:77.59909},
		map: map,
		title: "Vehicle location",
		draggable: true,
		icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png'
	});
		// handleLocationError(true, infoWindow, map.getCenter());
	});
	} else {
		origin_marker = new google.maps.Marker({
		position: {lat:12.903941, lng:77.59909},
		map: map,
		title: "Vehicle location",
		draggable: true,
		icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png'
	});
	// Browser doesn't support Geolocation
		// handleLocationError(false, infoWindow, map.getCenter());
	}
	// Generating Markers
	markers.forEach(function(parking, index){
	var marker = new google.maps.Marker({
		position: parking.pos,
		map: map,
		title: parking.title
	});
	});
	// Autocomplete
	var input = document.getElementById('autocomplete');
	autocomplete = new google.maps.places.Autocomplete(input);
	if (navigator.geolocation) {
		navigator.geolocation.getCurrentPosition(function(position) {
			var geolocation = {
				lat: position.coords.latitude,
				lng: position.coords.longitude
			};
		var circle = new google.maps.Circle({
			center: geolocation,
			radius: position.coords.accuracy
			});
		autocomplete.setBounds(circle.getBounds());
			});
		}
		autocomplete.bindTo('bounds', map);
		autocomplete.setOptions({strictBounds: true});


	// Maps interactions
	//Listen for any clicks on the map.
    google.maps.event.addListener(map, 'click', function(event) {                
        //Get the location that the user clicked.
        clickedLocation = event.latLng;
        //If the marker hasn't been added.
        if(marker2 === false){
            //Create the marker.
            marker2 = new google.maps.Marker({
                position: clickedLocation,
                map: map,
                title: "Destination",
                icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png',
                draggable: true //make it draggable
            });
            //Listen for drag events!
            google.maps.event.addListener(marker2, 'dragend', function(event){
                markerLocation();
            });
        } else{
            //Marker has already been added, so just change its location.
            marker2.setPosition(clickedLocation);
        }
        //Get the marker's location.
        markerLocation();
    });
	}

	function markerLocation(){
    //Get location.
    	var currentLocation = origin_marker.getPosition().toJSON();
	    //Add lat and lng values to a field that we can save.
	    console.log(currentLocation);
	    document.getElementById('autocomplete').value = JSON.stringify(currentLocation);
	}






	// Error handling
	function handleLocationError(browserHasGeolocation, infoWindow, pos) {
		infoWindow.setPosition(pos);
		infoWindow.setContent(browserHasGeolocation ?
			'Error: The Geolocation service failed.' :
			'Error: Your browser doesn\'t support geolocation.');
		infoWindow.open(map);
	}




	// Other functionalities
	$("#search").click(function(){
		$(".map-box").hide();
		$(".search-results").fadeIn();
	});
	$("#ex-map").click(function(){
		$(".search-results").hide();
		$(".map-box").fadeIn();
	})
	




	$("#search").click(function(){
	if(marker2 === false){
            //Create the marker.
            marker2 = new google.maps.Marker({
                position: clickedLocation,
                map: map,
                title: "Destination",
                icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png',
                draggable: true //make it draggable
            });
            //Listen for drag events!
            google.maps.event.addListener(marker2, 'dragend', function(event){
                markerLocation();
            });
        } else{
            //Marker has already been added, so just change its location.
            marker2.setPosition(clickedLocation);
        };
	$(".slots-table").html('<div style="text-align: center;"><img src="{% static "Pacman.gif" %}" alt="Loading.."></div>');
	var address = $("#autocomplete").val();
	var start = $("#start-time").val();
	var end = $("#end-time").val();
	console.log(start);
		$.ajax({
			type:"POST",
			data: {'address' : address,
				'start' : start,
				'end' : end
			},
			url: "/get_time_slots/",
			success: function(data){
				$(".slots-table").html(data);
			}
		});
	});



	// Time inputs
	$('.form_starttime').datetimepicker({
		format: 'yyyy-mm-dd hh:ii',
		weekStart: 1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 1,
		forceParse: 0,
		showMeridian: 1
	});
	$('.form_endtime').datetimepicker({
		format: 'yyyy-mm-dd hh:ii',
		weekStart: 1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 1,
		forceParse: 0,
		showMeridian: 1
	});


	// Directions api
	function show_destination(destination){

		directionsDisplay = new google.maps.DirectionsRenderer({
          		map: map
        });

        request = {
          		destination: destination,
          		origin: origin_marker.getPosition(),
          		travelMode: 'DRIVING',
          		drivingOptions: {
    				departureTime: new Date(Date.now())
  				}
       		}

       	directionsService = new google.maps.DirectionsService();
	        directionsService.route(request, function(response, status) {
	          if (status == 'OK') {
	            // Display the route on the map.
	            directionsDisplay.setDirections(response);
	          }
	        });

	        $(".search-results").hide();
	        $(".map-box").fadeIn();
	        $("#success").fadeIn();
	}
	</script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUyjrixhINVBCtKpOegkjixG7DovoOnmE&libraries=places&callback=initMap"
	async defer></script>
</html>