<!DOCTYPE html>
<html>
  <head>
    <title>Search Parkings</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
 
      var map, infoWindow;;
 
      var markers = [{title: "Space 1", pos:{lat: 12.903941, lng: 77.59909}}, {title: "Space 2", pos:{lat: 12.905845, lng: 77.593715}}];
   
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 12.903941, lng: 77.59909},
          zoom: 15
        });



        // Setting device location
        infoWindow = new google.maps.InfoWindow;
        if (navigator.geolocation) { // Try HTML5 geolocation.
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var device = new google.maps.Marker({
          		position: pos,
          		map: map,
          		title: "Vehicle location",
          		draggable: true,
          		icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png'
        	});
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }



        // Generating Markers
        markers.forEach(function(parking, index){
        	var marker = new google.maps.Marker({
          		position: parking.pos,
          		map: map,
          		title: parking.title
        	});
        });
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUyjrixhINVBCtKpOegkjixG7DovoOnmE&callback=initMap"
    async defer></script>
  </body>
</html>