<!-- <table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Slot ID</th>
            <th>Address</th>
            <th>Time Slot</th>
            <th>Distance</th>
            <th>Duration</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {% for slot in available_slots %}
            <tr>
                <td>PARK-{{slot.id}}</td>
                <td>{{slot.location.address}}</td>
                <td>{{slot.start}} to {{slot.end}}</td>
                <td><b>{{slot.distance}}</b></td>
                <td><b>{{slot.duration}}</b></td>
                <td>{{slot.rate}}/hour</td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th>Slot ID</th>
        <th>Address</th>
        <th>Time Slot</th>
        <th>Distance</th>
        <th>Duration</th>
        <th>Price</th>
    </tr>
    </tfoot>
</table> -->
<div class="row">
    {% for slot in available_slots %}
        <div class="col-md-3">
            <div class="card" style="width: 100%; height: 300px">
                <!-- <img class="card-img-top" src=".../100px180/" alt="Card image cap"> -->
                <div class="card-body">
                    <h5 class="card-title">PARK-{{slot.id}}</h5>
                    <p class="card-text">
                        <ul>
                            <li>Address: {{slot.location.address}}</li>
                            <li>Time Slot: {{slot.start}} to {{slot.end}}</li>
                            <li>Distance: <b>{{slot.distance}}</b></li>
                            <li>Duration: <b>{{slot.duration}}</b></li>
                            <li>Rate: {{slot.rate}}/hour</li>
                        </ul>
                    </p>
                    <div style="text-align: center;">
                    <a href="#" class="btn btn-primary book-slot" id="{{slot.id}}">Book this spot</a>
                    </div>
                </div>
            </div>
            <br>
        </div>
    {% endfor %}
</div>
<script>
    // $(".book-slot").click(function(){
    //     var slot_id = $(this).val();
    //     console.log(slot_id);
        
    // });
</script>