<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Slot ID</th>
            <th>Address</th>
            <th>Time Slot</th>
            <th>Distance</th>
            <th>Duration</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {% for slot in available_slots %}
            <tr>
                <td>PARK-{{slot.id}}</td>
                <td>{{slot.location.address}}</td>
                <td>{{slot.start}} to {{slot.end}}</td>
                <td><b>{{slot.distance}}</b></td>
                <td><b>{{slot.duration}}</b></td>
                <td>{{slot.rate}}/hour</td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th>Slot ID</th>
        <th>Address</th>
        <th>Time Slot</th>
        <th>Distance</th>
        <th>Duration</th>
        <th>Price</th>
    </tr>
    </tfoot>
</table>